{%extends "layout.html"%} {%block title%} stocks owned {%endblock%} {%block
main%}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.shares }}</td>
      <td>{{ stock.price | usd }}</td>
      <td>{{ ( stock.shares * stock.price) | usd }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>cash</td>
      <td></td>
      <td></td>
      <td></td>
      <td scope="1">cash</td>
      <td scope="1">{{cash | usd}}</td>
    </tr>
  </tbody>
  <tfoot>
    <td><strong></strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td>total</td>
    <td><b> {{total | usd}}</b></td>
  </tfoot>
</table>
{%endblock%}
